
body {
    background-image: url("pictures/RushHourBlackSmall.jpg");
}

#blackSquare {
    position: absolute;
    background: rgb(226,172,0);
    border: 14px;
    border-style: solid;
    border-color: rgb(0,0,0);
    margin-top: 10.4%;
    margin-left: 63%;
    width: 30px;
    height: 100px;
}

#board {
    position: relative;
    background: black;
    border: 20px;
    border-style: solid;
    border-color: rgb(226,172,0);
    margin-top: 3%;
    margin-left: 31%;
    width: 610px;
    height: 610px;
}

.carSelected {
    border: 7px;
    border-style: solid;
    border-color: rgb(253, 253, 253);
}

.buttons {
    height: 80px;
    width: 80px;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    color: black;
    background-color:  black;
    border-radius: 7px;
    font-size:60px;


}

#btnUp{
    margin-left:40%;
}
